
body {
	background-color: #333333;
	font-family: Helvetica;
	font-weight: 200;
}
.title {
	color: white;
	font-size: 100px;
	text-align: right;
	position: absolute;
	top: 8%;
	right: 5%;
	width: 100%;

}
.links {
	color: #6eaafd;
}
.links:hover {
	color: white;
	text-decoration: none;
}
.links:visited {
	text-decoration: none;
}

.name {
	color: #6eaafd;
	font-size: 140px;
	text-align: right;
	top: 30%;
	right: 5%;
	position: relative;
	-webkit-animation: mymove 1.5s ease forwards;
        animation: mymove 1.5s ease forwards; 
}
.nameabout {
	color: #6eaafd;
	font-size: 140px;
	text-align: right;
	top: 30%;
	right: 5%;
	margin-top: -6%;
	margin-right: -5%;
	position: absolute;
	-webkit-animation: mymoveabout 1.5s ease forwards;
        animation: mymoveabout 1.5s ease forwards;
}

.subtext {
	color: #a3a3a3 ;
	font-size: 30px;
	margin-top: 14%;
	right: 6%;
	font-style: italic;
	position: relative;
	text-align: right;
	float:right;
}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 185px;}
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 185px;}
}
@-webkit-keyframes mymoveabout {
    from {top: 0px;}
    to {top: 185px;}
}
@keyframes mymoveabout {
    from {top: 0px;}
    to {top: 185px;}
} 
li {
	list-style-type: none;
	color: white;
}
.sidebar {
	color:white;
	font-size: 30px; 
	 -webkit-transition: all 1s ease-in-out;
	 -moz-transition: all 1s ease-in-out;
	 -ms-transition: all 1s ease-in-out;
	 -o-transition: all 1s ease-in-out;
	 transition: all 1s ease-in-out;
}

.sidebar:visited{
	color:white;

}

.sidebar:hover{
	color: #a3a3a3;
	text-decoration: none;
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
	}

.sidebar:active{
	color: white;

}

li {
	text-align: left;
	position: relative;
	height: 180px;
	margin-top: -80px;
}
#pabout {
	padding-top: 150px;
	text-align: right;
	font-size: 20px;
	font-color: #a3a3a3 ;
	width: 50%;
	margin-left: 59%;
	float:right;

}
#mypic {
	margin-top: 10px;
	margin-left: 10px;
	height: 100%;
	width:400px;
	
	
}
#speciallink {
	font-size: 21px;
	color:#6eaafd;

}
#speciallink:hover {
	color: white;
}
.arrow {
	font-size: 30px;
	color: white;
	height: 25px;
	width: 25px;
	float:left;
	top: 89%;
	left: 89%;
	position: fixed;
	-webkit-transition: all 1s ease-in-out;
	 -moz-transition: all 1s ease-in-out;
	 -ms-transition: all 1s ease-in-out;
	 -o-transition: all 1s ease-in-out;
	 transition: all 1s ease-in-out;
	 text-decoration: none;
	}

.arrow:hover {
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2);  
	height: 40px;
	width: 40px;
	color: #a3a3a3;
	font-weight: 300;
	text-decoration: none;
} 
.arrow:active{
	color:white;
	text-decoration: none;
}
.icon {
	float: right;
	padding-top: 20%;
	right: 5%;
	margin-top: -550px; 
}
#fb {
	height: 60px;
	width: 60px;
	right: 26%;
	position: absolute;
	-webkit-animation: iconmove 1s ease forwards;
        animation: iconmove 1s ease forwards;
        -webkit-animation-delay: 2s;
		animation-delay: 2s; 
		transition: all .2s ease-in;


}
#fb:hover {
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}

#gh {
	height: 61px;
	width: 61px;
	right: 16%; 
	position: absolute;
	-webkit-animation: iconmove 1s ease forwards;
     animation: iconmove 1s ease forwards;
     -webkit-animation-delay: 2s;
	animation-delay: 2s;
	transition: all .2s ease-in;
}
#gh:hover{
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}
#li {
	height: 60px;
	width: 60px;
	right: 6%;
	position: absolute;
	-webkit-animation: iconmove 1s ease forwards;
     animation: iconmove 1s ease forwards;
     -webkit-animation-delay: 2s;
	animation-delay: 2s;
	transition: all .2s ease-in;
}
#li:hover {
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}

@-webkit-keyframes iconmove 
{
	from {top: 0px;}
	to {top: 450px;}
}
@keyframes iconmove {
	from {top: 0px;}
	to {top: 450px;}
}

.document {
	float left: 
	position: fixed;
	width:100%;
	-webkit-animation: docmove 2s ease forwards;
        animation: docmove 2s ease forwards; 

}
@-webkit-keyframes docmove {
    from {left: 0px;}
    to {left: 900px;}
}
@keyframes docmove {
    from {left: 0px;}
    to {left: 900px;}
}
.interested {
	font-size: 30px;
	color: white;
	height: 60px;
	width: 20%;
	float:left;
	top: 40%;
	left: 74%;
	position: fixed;
	text-decoration: none;
	text-align: right;
}
.info {
	position: absolute;
	top: 5%;
	width: 50%;
	padding-left: 20px;
	color: white;
	height: 30%;

}
.sayhello {
	font-family: Helvetica;
	font-size: 100px;
	color: #6eaafd;
	font-weight: 200px;
}
h3 {
	top: 200px;
	font-size: 22px;
	left: 20px;
	color: #a3a3a3;
	font-weight: 700;
}
.info p {
	color: white;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: 100;
}
.details {
	padding-top: 30px;
}
.friendme {
	padding-top: 30px;
}

.icons{
	float: left;
	padding-top: 20%;
	left: 2%;
	margin-top: 240px;
}
#fbs {
	height: 30px;
	width: 30px;
	left: 14%;
	position: absolute;
	transition: all .2s ease-in;


}
#fbs:hover {
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}

#ghs {
	height: 30px;
	width: 30px;
	left: 8%; 
	position: absolute;
	transition: all .2s ease-in;
}
#ghs:hover{
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}
#lis {
	height: 30px;
	width: 30px;
	left: 2%;
	position: absolute;
	transition: all .2s ease-in;
}
#lis:hover {
	t -webkit-transform: scale(1.2); 
    -ms-transform: scale(1.2); 
    transform: scale(1.2); 
}

form {
	float: right;
	color: white ;
	font-size: 30px;
	margin-top: 9%;
	margin-right: 80px;
	z-index: -1;
	position:relative;
}
input {
	background-color: #333333 ;
	border-color: white;
}

